#highlighted {
  position: relative;
  background-color: #dc143c;
  text-align: center;
}


#highlighted h1 {

  font-size: 54px;
  font-family: Verlag, museo-sans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
  font-weight: 300;
}


#content {
  background-position: right bottom;
  background-color: #fff;
  padding-bottom: 20px;
}

#content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: lightgray;
}

#content li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}


#content li a:hover {
  background-color: #555;
  color: white;
}

#vertical ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#vertical li {
  float: left;
}

#vertical li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#vertical li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}



p {
  text-align: center;

}

p,
label {
  line-height: 3;

}


label.text {
  text-align: center;
  position: relative;
  left: 62px;
  top: 10px;
  font-size: 1.1em;
  font-family: Verlag, museo-sans, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#email_addy {
  position: relative;
  top: 30px;
  right: 50px;

}

button {
  position: relative;
  margin-top:30px;
  color: black;
  background-color: green;
}



button:visited {
  color: yellow;
}

button:focus {
  color: red;
  background-color: blue;
}
